<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title >My Cart</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<!------------ตระกร้าว่าง--------------->
    <div padding *ngIf="selectedItems.length=='0'">
        <h2 text-center>Cart is empty</h2>
    </div>

<!------------แสดงข้อมูล--------------->
    <ion-card *ngFor="let item of selectedItems">
        <ion-row wrap>
            <ion-col size="4">
                <img src="{{item.Picture}}"/>
            </ion-col>
            <ion-col >
                <h2>{{ item.name_food }}</h2>
                <ion-row class="price">
                    <ion-col text-left> {{ item.price | currency:'USD':'symbol' }}</ion-col>
                    <ion-col text-left>{{ (item.price * item.count) | currency:'USD':'symbol' }}</ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

<!------------ปุ่ม--------------->
        <ion-row wrap>
            <ion-col size="9" >
                <div class="cart-btn-h" *ngIf="item.count>0">
                    <ion-fab-button size="small" (click)="RemoveOneItem(item)" > <ion-icon name="remove"></ion-icon> </ion-fab-button>
                    <ion-input type="number" [(ngModel)]="item.count"></ion-input>
                    <ion-fab-button size="small" (click)="addItem(item)" > <ion-icon name="add"></ion-icon> </ion-fab-button>
                </div>
            </ion-col>
            <ion-col >
                <ion-fab-button size="small" (click)="removeCartItem(item)" > <ion-icon name="trash"></ion-icon> </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>

<!------------total ล่างสุด--------------->
    <ion-footer *ngIf="selectedItems.length>0">
        <ion-toolbar>
                <ion-row>
                    <ion-col>
                        <h3>TOTAL : {{ total | currency:'USD':'symbol' }}</h3>
                        <h3>ITEMS : {{sum}}</h3>
                    </ion-col>
                    <ion-col >
                        <ion-button (click)="moveNext()" expand="full" >Checkout</ion-button>
                    </ion-col>
                </ion-row>
        </ion-toolbar>
    </ion-footer>

