<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title >Delivery Address</ion-title>
        <ion-button fill="outline" slot="end" size="small"  expend="block" (click)="addAddress()" >
            <ion-icon slot="icon-only" name="add"></ion-icon>
       </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content >

<ion-card>
        <ion-card-content>
                <div padding>
                        {{houseNumber}}, {{streetName}}, {{district}}, {{city}}, {{mobileNumber}}
                </div>
                
                <ion-row wrap>
                    <ion-col size="6" >
                        <ion-row>
                                <ion-col>
                                        <ion-fab-button size="small"  (click)="editAddress()" > <ion-icon name="md-create"></ion-icon> </ion-fab-button>
                                </ion-col>
                            </ion-row>
                    </ion-col>
                <ion-col text-right>
                        <ion-radio value="" checked="" (click)="moveNext()"></ion-radio>
                    </ion-col>
                </ion-row>

     </ion-card-content>
</ion-card>


</ion-content>
<ion-footer *ngIf="total>0">
  <ion-toolbar>
          <ion-row>
              <ion-col>
                <h3>TOTAL : {{ total | currency:'USD':'symbol' }}</h3>
                <h3>ITEMS : {{sum}}</h3>
              </ion-col>
              <ion-col >
                      <ion-button (click)="moveNext()" expand="full" >Continue</ion-button>
              </ion-col>
          </ion-row>
  </ion-toolbar>
</ion-footer>